html {
    padding: 0;
    margin: 0;
    height: 100vh;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(30deg, rgb(44, 123, 155), rgb(77, 124, 168), rgb(84, 121, 75)) ;
}
.header-forlogo {
    width: 100%;
}
.header-logo {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container {
    position: relative;
    padding-top: 15px;
    padding-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(38, 45, 52, 0.486);
    max-width: 400px;
    box-shadow: 2px 2px 10px 2px;
}

.box {
    font-size: 20px;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 255, 255, 0);
}

.box-date {
    font-size: 20px;
    width: 100%;
    height: 20px;
    background-color: rgba(0, 255, 255, 0);
}

form {
    margin: 10px;
    margin-bottom: 25px;
}

.padding {
    margin: 10px;
    margin-bottom: 25px;
}

input {
    font-size: 15px;
    color: white;
    border: none;
    border-bottom: 1px solid rgb(188, 187, 187);
}

h1 {
    color: rgb(3, 51, 22);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label {
    color: white;
    font-size: 17px;
}

#submit {
    z-index: 2;
    color: white;
    font-size: 20px;
    height: 40px;
    width: 100px;
    background: linear-gradient(30deg, rgb(65, 133, 124), rgb(59, 148, 111), rgb(35, 102, 82)) ;
    position: absolute;
    bottom: 5px;
    border-radius: 10px;
    left: 2px;
}
#submit2 {
    z-index: 1;
    color: white;
    font-size: 15px;
    height: 40px;
    width: 100px;
    background: linear-gradient(30deg, rgb(44, 123, 155), rgb(59, 105, 148), rgb(187, 238, 223)) ;
    position: absolute;
    bottom: 5px;
    border-radius: 10px;
    left: 2px;
}

select {
    color: white;
    border: none;
    font-size: 15px;
    border-bottom: 1px solid rgb(188, 187, 187);
}
.option {
    background: rgb(61, 60, 60);
}

.radio {
    width: 20px;
    height: 20px;
}

.gender-box {
    display: flex;
}

.gender {
    color: rgb(169,169,169);
    font-size: 20px;
}

.radio-male:checked ~ label {
    color: rgb(1, 44, 85);
  }

.radio-female:checked ~ label {
    color: rgb(129, 4, 129);
  }

.hidden_div {
    display: none;
}

.fa-spin {
    margin-top: 10px;
    margin-left: 10px;
}
